@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #0e0e10;
}

.center {
  width: 80%;
}

.slogan-project {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.slogan-project .center{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.slogan-project .center h1 {
  color: white;
  font-size: 25px;
  font-family: "Noto Sans Bengali", sans-serif;
  margin-left: 10px;
}

.content-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-main .center {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.stats{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  margin-top: 5vh;
}

.stats .header{
  width: 75%;
  height: 150px;
  background-color: #151517;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.header .image{
  width: 15%;
  height: 100%;
  background-color: #1B1B1E;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.header .image img{
  height: 100px;
  width: 100px;
}

.header .content{
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content .pos{
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pos .square, .datas .square{
  width: 90px;
  height: 90px;
  background-color: #1B1B1E;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.datas .square{
  margin: 0 8px;
}

.square .top{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.square .top p{
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

.square .content h1{
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 300;
}

.square .content{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content .datas{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.center .content-players{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.center .content-players .listPlayers{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-players .title{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.content-players .title h1{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 300;
}

.content-players .square-player{
  width: 350px;
  height: 280px;
  border-radius: 20px;
  background-color: #1B1B1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}

.square-player .top-player{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: #151517;
}

.square-player .top-player .image{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-player .top-player .image .border-image{
  width: 75%;
  height: 75%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #1B1B1E 5px solid;
  padding: 5px;
  overflow: hidden;
}

.square-player .top-player .image .border-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.square-player .top-player .player-info{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.top-player .player-info .line-stats{
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-player .player-info .line-stats .json-input{
  width: 170px;
  height: 25px;
  background-color: #1B1B1E;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-player .player-info .line-stats p{
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: 100;
}

.top-player .player-info .line-stats .json-input p{
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

.top-player .player-info .line-stats-row{
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.top-player .player-info .line-stats-row .square-line{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line-stats-row .square-line p{
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: 100;
}

.line-stats-row .square-line .json-input{
  width: 80px;
  height: 25px;
  background-color: #1B1B1E;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-stats-row .square-line .json-input p{
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: 100;
}



.square-player .stats-player{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stats-player .square-stats{
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square-stats .square-data{
  width: 70px;
  height: 70px;
  background-color: #151517;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square-stats p{
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

.square-stats .square-data h1{
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 100;
}
